@import "../../vars.scss";

.formName{
    margin: 15px;
    font-size: 30px;
}

.block{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}
.laber{
    font-size: 15px;
}
/*.input{
    width: 60%;
    padding: 2px;
}*/
.input {
    width: 60%;
    background-color: $primary-input-black;
    border: 1px solid $border;
    padding: 0.3rem;
    transition: 0.2s ease;
    color: $primary-white;

    &:hover {
        transition: 0.2s ease;
        background-color: $input-bg;
    }

    &:focus {
        transition: 0.2s ease;
        border: 1px solid $outline;
        box-shadow: 0px 0px 5px $outline;
        outline: none;
    }

    &:disabled {
        opacity: .3;
        background-color: $input-bg;
    }
}
.input_w10{
    width: 10% !important;
}

.button {
    transition: 0.2s ease;
    background-color: transparent;
    padding: 0.3rem 1rem;
    border: 1px solid $primary-exp;
    border-radius: 3px;
    color: $primary-exp;

    &:focus {
        background-color: $input-bg;
        color: $primary-white;
        outline: none;
        box-shadow: 0px 0px 5px$outline;
        border: 1px solid $outline;
    }

/*submit and register*/
    &:hover {
        transition: 0.2s ease;
        background-color: $input-bg;
        color: $primary-white;
    }

}

.error {
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: crimson;

}