// @tip_styles00
// У нас тут уже есть стили, но их нужно дополнить.
// И неплохо бы предусмотреть возможность разделения типов уведомлений
// Поэтому
// 1) @tip_styles01
// 2) @tip_styles02
// 3) @tip_styles03


// @tip_styles01
// Вот в этой штуке мы НЕ определяем цвет фона/текста, а только задаем общие параметры блока
// Что тут уже есть:
.notification-container {
    position: fixed; // Фиксируем уведомление на экране, чтобы оно не убегало при скролле
    z-index: 900; // Перемещаем на верхний слой
    
    left: 20px; 
    top: calc(100vh - 150px); // Задаем положение
    
    height: 150px;
    width: 300px; // И размер (Будешь менять высоту, не забудь про top - она участвует в рассчете)

    animation: apear 0.5s ease 1 forwards; // Плавное появление
}

// @tip_styles02
// Цвет фона и текста задавай классами-хелперами, чтобы в итоге блок с ошибкой можно было описать например через className="notification-container error"
// Для начала можно сделать 3 типа уведомлений:
// error - красненькая залупка для ошибок
// regular - для всякой бесполезной текстовой шелухи, беленький либо в цветах темы (лучше беленький)
// success - зелененький блок для сообщений "успешно добавлено" и т.д. 

.notification-container:hover {
    opacity: 1; // от пизды накида, тут придумаешь что-то
}

// Це анимация плавного появления уведомления, можешь поправить, если знаешь как
// Только прошу избегать linear-функций

@keyframes apear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// @tip_styles03
// С дизайном разберешься сам, у тебя хорошо получается.
// Как подключить функцию для отображения уведомлений @tip_redux03 , как её использовать: 
// Если бысторо справишься, попробуй @tip_redux00 - не зря ж я мануалы писал