.notification-container {
    display: block;
    position: fixed;
    z-index: 99999;
    left: 20px;
    top: calc(100vh - 150px);
    height: 150px;
    width: 300px;

    animation: apear 0.5s ease 1 forwards;
}

.notification-container:hover {
    opacity: 1;
}

@keyframes apear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}